---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Add logo to masthead
a.site-title::before {
	content: url("/favicon.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
	height: auto;
	max-width: 100%;
	max-height: 1em;
}