---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// Add properly sized logo to the title
.site-title::before {
    background-image: url(/favicon.png);
    content: "";
    display: inline-block;
    position: relative;
    width: 32px;
    top: 7px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 8px;
}

// color of the stripe on top of the page
.site-header { 
	border-top: 5px solid #e3b334;
}

.post-title {
  text-align: center;
  color: #b68604;
}

// centering the title on index
.page-heading {
  text-align: center;
  color: #b68604;
}

// less space in the bottom
.site-footer {
  padding-bottom: 0;
}

// adding rounded corners to the images
img {
  border-radius: 10px;
}

// moving social media icons to the left
.social-media-list {
  margin: 0;
}

// for alighing the social media icons with description
.social-media-list li, .pagination li {
  margin: 0px 10px 5px 0;
}

// bigger sized social icons and color
.fa-lg {
  font-size: 1.5em;
}
.grey {
  color: #e3b334;
}
